
 <!-- Contiene apertura del html y scripts -->
<!-- top menu -->

<section id="top-menu">

    <div class="container">

        <div class="row-fluid">

            <div class="span6">

                <ul class="nav navbar-inverse nav-pills pull-left">
                    <li><a href="http://arquerosenred.com.ar/acerca_de">About AER</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>

        </div>

    </div>

</section>

<!-- header -->

<header id="header">

    <div class="container fnd_blanco_header">

        <div class="row-fluid">

            <div class="span12">
                <a class="logo pull-left" href="http://arquerosenred.com.ar/home"><img src="http://arquerosenred.com.ar/img/logo.png" alt="logo"></a>
            </div>

        </div>

    </div>

</header> <!-- Contiene el menu de navegacion superior -->
<!-- OPEN container -->

<section id="container">

    <div class="container fnd_blanco">

        <div class="row">

            <div class="span12">

                <div class="row">
 <!-- Contiene la apertura del contenedor del contenido y sidebar -->

<!-- Recorro los modulos enviados al contenedor de contenido -->
<section id="page-sidebar" class="alignleft span8 ">
                        <!-- slider -->

                        <div class="row">

                            <div class="span8">

                                <div class="title-divider">
                                    <h3>AER Summer Camp</h3>
                                    <div class="divider-arrow"></div>
                                </div>

                            </div>

              <div class="clearfix"></div>
              <article class="blog-post span4">

                                <div class="block-grey">
                                    <div class="block-light">
                                        <a href="http://arquerosenred.com.ar/ampliar/Jan-Oblak-el-arquero-ms-caro-de-la-Liga/3634"><img src="http://arquerosenred.com.ar/fotos/noticias/827_3634_0.jpg" alt="Jan Oblak, el arquero más caro de la Liga"></a>                                        <div class="wrapper">
                                                <h2 class="post-title"><a href="http://arquerosenred.com.ar/ampliar/Jan-Oblak-el-arquero-ms-caro-de-la-Liga/3634">Join Our First Ever USA Summer Camp!</a></h2>
                                                <p>Arqueros En Red, world renown goalkeeping academy is doing its first ever USA summer camp.<a href="/camp" class="read-more"> [Find Out More!]</a>
                                                </p>
                                        </div>
                                    </div>
                                </div>

                            </article>

              <div class="clearfix"></div>

                        </div>
                    <!-- ARQUERO DE LA SEMANA -->

                      <div class="row">

                            <div class="span8 education-news">
                                <div class="title-divider">

                                    <h3>Staff</h3>
                                    <div class="divider-arrow"></div>

                                </div>

                                <div class="block-grey">

                                    <div class="block-light wrap15">


                                        <div class="row">

                                            <div class="col-md-4">
                                               <img src="<%= asset_path('saccone.jpg') %>" alt="Alejandro Saccone">

                                                <h2 class="post-title"><a href="/staff">Alejandro Saccone</a></h2>
                                                <p>Fomer goalkeeper at River Plate in Argentina and Carrarese in Italy. Current TV analyst and GK coach.<a href="/staff" class="read-more">[...]</a>
                                                </p>
                                            </div>

                                             <div class="col-md-4">
                                               <img src="<%= asset_path('fermin.jpg') %>" alt="Fermin Carranza">

                                                <h2 class="post-title"><a href="/staff">Fermin Carranza</a></h2>
                                                <p>Current goalkeeper at Miami United FC, and formerly at Florida International University in Miami, FL.<a href="/staff" class="read-more">[...]</a>
                                                </p>
                                            </div>

                                             <div class="col-md-4">
                                               <img src="<%= asset_path('joaco.jpg') %>" alt="Joaquin Orlando">

                                                <h2 class="post-title"><a href="/staff">Joaquin Orlando</a></h2>
                                                <p>Fomer goalkeeper at Deportivo Armenio in Argentina. He captained the team all throughout his youth career.<a href="/staff" class="read-more">[...]</a>
                                                </p>
                                            </div>


                                        </div>


                                    </div>



                                </div>
                            </div>

                            <div class="spacer"></div>

                        </div>

                </div><!--/row-fluid-->
        </div><!--/item-->
    </div>
</div>

<!--footer menu-->
<section id="footer-menu">

    <div class="container">
        <div class="row">

            <p class="span12"><b>AER USA</b> - Summer Camp | Campos Salles 2383, Nuñez, Ciudad Autónoma de Buenos Aires | Phone: +1 (305) 753-7431</p>
        </div>
    </div>

</section>

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script src="http://www.google-analytics.com/ga.js" type="text/javascript">
</script>
<script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-8813691-1");
    pageTracker._trackPageview();
    } catch(err) {}
</script>

 <!-- Contiene footer del diseno y cierre del html -->
<a href="#" id="toTop" style="display: none;"><span id="toTopHover"></span>To Top</a>
