<!DOCTYPE html>
<html lang="en"><!--<![endif]-->

<head>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta property="fb:app_id" content="{381432495277864}">
    <meta property="fb:admins" content="arqueros.enred">
    <link rel="icon" href="http://arquerosenred.com.ar/images/favicon.png" type="image/png">
    <link rel="shortcut icon" href="http://arquerosenred.com.ar/images/favicon.png" type="image/png">

    <title>AER USA | Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style type="text/css" media="screen">
      #header .logo { margin: 0 0 15px 0; }
      #header .banner {
          clear: left;
          display: block;
          float: none;
          margin: 0 0 15px 0;
          text-align: center;
      }
      #search input[type="text"] {
          width: 227px;
      }


      #latest-work .carousel-wrapper li{width: 340px !important;}
      .figure-1 a.left-image {margin-right:5px;}
      .service.img-border-bg {margin-top:50px;}</style><style type="text/css" media="all">
    .nav-collapse.collapse {
      height: auto !important;
      overflow: visible !important;
    }
  </style>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link href="css/ie.css" type="text/css" rel="stylesheet"/>
    <![endif]-->

    <div class="fit-vids-style">­
      <style>
        .fluid-width-video-wrapper {
            width: 100%;
            position: relative;
            padding: 0;
        }
        .fluid-width-video-wrapper iframe,
        .fluid-width-video-wrapper object,
        .fluid-width-video-wrapper embed {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
        }
      </style>
    </div>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/bootstrap.min.js"></script>
    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/respond.min.js"></script>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/jquery.quicksand.js"></script>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/superfish.js"></script>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/hoverIntent.js"></script>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/jquery.hoverdir.js"></script>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/jquery.tweet.js"></script>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/smoothscroll.js"></script>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/main.js"></script>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/ajax-mail.js"></script>
    <script type="text/javascript" src="http://arquerosenred.com.ar/js/accordion.settings.js"></script>
    <script src="http://arquerosenred.com.ar/js/jquery.fitvids.js"></script>
    <script src="http://arquerosenred.com.ar/js/rsv.js"></script>

</head>

<body>

<%= yield %>

</body>
</html>
